.Hi{
    width:255px;
    height: 455px;
    position: absolute;
    margin: auto;
    left: 262px;
    right: 0;
    top: 20px;
    bottom: 0;
    border: 3px solid #414141;
    box-shadow: 5px 5px 10px -2px inset #000;
    box-shadow: -8px -8px 4px -2px #ccd9f5, 8px 8px 4px 0px #4e88f3;
    .logo{
        position: absolute;
        top:-60px;
        margin-top: 5px;
        padding: 3px;
        width: 250px;
        height: 30px;
        font-size: 80px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgb(216, 105, 0);
    }
    button{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 200px;
        height: 30px;
        border: 2px solid #000;
        box-shadow: 5px 5px 10px -2px inset #000;
        box-shadow: -8px -8px 4px -2px #ccd9f5, 8px 8px 4px 0px #4e88f3;
        &:hover{
            width: 220px;
            height: 33px;
            font-size: 20px;
        }
    }
    .predict{
        bottom: 90px;
    }
    .clear{
        bottom: 30px;
    }
    .predict_txt{
        position: absolute;
        margin: auto;
        top:30px;
        left: 0;
        right: 0;
        width: 200px;
        height: 270px;
        border: 2px solid #000;
        font-size: 120px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px -2px inset #000;
        box-shadow: 8px 8px 4px 2px inset #555555, -5px -5px 4px 3px inset #ccd9f5;
        text-shadow: 5px 5px 2.5px #8b8b8b;
    }
}